.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}

.description {
  flex-direction: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description p {
  position: relative;
  margin: 0;
  padding: .8rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.description form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
  justify-content: space-evenly;
}

.description input {
  padding: .3rem;
  border-radius: var(--border-radius);
  font-size: inherit;
  font-family: var(--font-mono);
  width: 15rem;
}

.description button {
  background-color: rgb(var(--primary-glow));
  padding: .3rem;
  margin: .3rem;
  border-radius: var(--border-radius);
  font-size: inherit;
  font-family: var(--font-mono);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}